.excerptDetailsButton {
    width: 250px !important;
}

.completedCard {

    width: 300px !important;
}

.excerptWithButtons {
    display: flex !important;
}

.unfollowButton {
    width: 100px;
    height: 40px;
    border-radius: 8px !important;
    
}

.registerInput {
    border-radius: 8px;
    height: 40px;
}

.commentButton {
    width: 250px;
    height: 40px;
}